/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: #392467;
}

* {
  font-family: "Poppins", sans-serif;
}
.nav-bar a.active {
  font-weight: bold;
}
.group-active {
  font-weight: bolder;
  border-bottom: 3px solid #de2a8a;
  padding-bottom: 3px;
  color: #de2a8a;
}
.shiny-text {
  position: relative;
  display: inline-block;
  background: linear-gradient(90deg, black, orangered, #392467);
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shine 15s linear infinite;
}
.dBoard .active {
  @apply bg-orange-600 text-white;
}

@keyframes shine {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}
